.buttons{
    width: 400px;
    height: 10px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin:80px auto;
}

.buttons button{
    border: none;
    background-color: transparent;
}

.buttons img{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: row;
}

.charactershouse{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    margin: 6px auto;
    height: 80vh;
}
.arrow-top{
    background-color: rgb(255, 255, 60);
    display: flex;
    bottom: 5%;
    width: 40px;
    height: 40px;
    position: fixed;
    z-index: 9999;
    border: 5px ridge #d6a067;
    border-radius: 100%;
    left: 95%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.arrow{
    border: none;
    background-color: transparent; 
}
