.buttons{
    width: 400px;
    height: 10px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin:80px auto;
}

.buttons button{
    border: none;
    background-color: transparent;
}

#search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:10px auto;
    height: 20px;
}

.buttons img{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: row;
}

.buttons button:hover{
    cursor:pointer;
}

.charactershouse{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    margin: 6px auto;
    height: 80vh;
}
.arrow-top{
    background-color: rgb(255, 255, 60);
    display: flex;
    bottom: 5%;
    width: 40px;
    height: 40px;
    position: fixed;
    z-index: 9999;
    border: 5px ridge #d6a067;
    border-radius: 100%;
    left: 95%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.arrow{
    border: none;
    background-color: transparent; 
}
.deschouse{
    justify-content: center;
    align-content: center;
    margin: 10px auto;
}
.descri{
    border: 10px double azure;
    justify-content: center;
    align-content: center;
    margin-top: 260px;
    height: 50vh;
    width: 1000px;
}
.caracteristicas li{
    text-shadow:none;
    text-decoration: none;
}

@media (max-width: 485px){
    .buttons{
        display:grid;
        gap: 80px;
        grid-template-columns: repeat(2, 1fr);
        margin:40px auto;
    }
    .buttons img{
        width: 100px;
        height: 100px;
        justify-content: center;
        align-items: center;
        margin:auto;
    }
    .arrow-top{
        width: 35px;
        height: 35px;
        left:88%;
    }
    #search{
        margin-top:200px;
    }
    .deschouse{
        width: 450px;
    }
    .charactershouse{
        margin:auto;
        grid-template-columns: 1fr;
    }
    .card{
        height: 70vh;
    }
    .arrow-top{
        width: 35px;
        height: 35px;
        left:88%;
    }
    .details-card{
        height: 20vh;
    }
    .descri{
        margin-top: 380px;
        height: 90vh;
        width: 450px;
    }
    .caracteristicas li,h2,p{
        width: 400px;
    }
}
@media (max-width: 880px){
    .buttons img{
        width: 100px;
        height: 100px;
        justify-content: center;
        align-items: center;
        margin-top:-70px;
    }
    .charactershouse{
        margin: 30px auto;
        grid-template-columns: repeat(2,1fr);
        gap:120px;
    }

    .card{
        height: 70vh;
    }
    .arrow-top{
        width: 29px;
        height: 29px;
        left:95%;
    }
    .descri{
        margin-top: 380px;
        height: 55vh;
        width: 700px;
    }
}
