body{
    background-image: url('../assets/img/characters.jpg');
    background-position: center;
    background-size: cover;
}

#search{
    padding: 0 5px;
    margin:10px 10px 0 10px;
    width: 195px;
    height: 20px;
    align-items: start;
    justify-content: start;
    border-radius: 10px;
}

main{
    height: 100vh;
}
.characters{
    display: flex;
    flex-direction: column;
    overflow-inline: hidden;
    scroll-behavior: smooth;
}
.grid{
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:100px;
    align-items: center;
    margin: 6px auto;
    height: 100vh;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:url("../assets/img/998c6a0b1be07d52aefccb1c2692a7f8.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    width: 300px;
    height: 80vh;
    border: 8px ridge rgb(255, 255, 60);
    padding: 5px;
    color: azure;
}
.header-card{
    width: 90%;
    padding: 5px;
    height: 4vh;
    border: 5px ridge #d6a067;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.header-card span {
    margin-top: -5px;
    font-size: 30px;
}
.img-card{
    width: 250px;
    margin:10px 0;
    border: 5px ridge #d6a067;
    height: 35vh;
}
.img-card img{
    filter: drop-shadow(0 0 0.75rem azure);
    width: 100%;
    height: 100%;
}
.details-card{
    width: 90%;
    margin:10px 0;
    border: 5px ridge #d6a067;
    height: 30vh;
}
.details-card ul,li {
    text-shadow: black 2px -2px;
    text-decoration: underline;
    font-weight: 900;
    align-items: start;
    justify-content: start;
    margin: 1px 5px;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.arrow-top{
    background-color: rgb(255, 255, 60);
    display: flex;
    bottom: 5%;
    width: 40px;
    height: 40px;
    position: fixed;
    z-index: 9999;
    border: 5px ridge #d6a067;
    border-radius: 100%;
    left: 95%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.arrow{
    border: none;
    background-color: transparent; 
}
